.ChargesResume {
  height: 110px;
  width: 345px;
  display: flex;
  gap: 46px;
  padding: 23px 40px;
  color: var(--gray-n2);
  border-radius: 30px;
}

.ChargesResume img{
  height: 35px;
  width: 29px;
  margin: auto;
}

.ChargesResume .details{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-content: center;
  text-align: center;
}

.ChargesResume .details .title {
  font-size: 1.8rem;
}

.ChargesResume .details .value {
  font-size: 2.3rem;
}