.ChargesTableRow {
  transition: all 0.2s;
  cursor: pointer;
}

.ChargesTableRow:hover {
  background-color: var(--gray-n7);
}

.ChargesTableRow td:first-child {
  padding-left: 8px;
}

.ChargesTableRow .charge-status img {
  vertical-align: middle;
}

.ChargesTableRow .description {
  display: flex;
  align-items: center;
  justify-content: center;
  justify-content: space-between;
  height: 60px;
}

.ChargesTableRow .description .description-text {
  flex-grow: 1;
  width: 120px;
  align-self: center;
}

.ChargesTableRow .icon-div {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 4px;
  cursor: pointer;
  height: 60px;
  padding-right: 15px;
  font-family: Nunito;
  font-size: 10px;
  font-weight: 600;
  line-height: normal;
  color: var(--gray-n3);
}

.ChargesTableRow .icon-div .icon-img {
  height: 16px;
  width: 16px;
}

.ChargesTableRow .icon-div .icon-text.delete {
  color: var(--red-n3);
}

.ChargesTableRow .icon-div:hover .icon-img,
.ChargesTableRow .icon-div:hover .icon-text {
  transform: scale(1.18);
  transition: all 0.2s;
}
