.form-signup {
  display: flex;
  flex-direction: column;
  width: 368px;
  height: 100%;
}

.form-signup h1 {
  font-family: Montserrat;
  font-size: 2.4rem;
  font-weight: 700;
  margin-bottom: 32px;
}

.form-signup h1,
.form-signup button,
.form-signup p {
  text-align: center;
}

.form-signup h1,
.form-signup label {
  color: var(--dark-gray-bg-color);
}

.form-signup label {
  line-height: 2rem;
  margin-bottom: 6px;
}

.form-signup label,
.form-signup p {
  font-size: 1.4rem;
  font-weight: 600;
}

.form-signup label,
.form-signup p,
.form-signup button {
  font-family: Nunito;
}

.form-signup label:last-of-type {
  margin-top: 20px;
}

.form-signup input {
  width: 100%;
  height: 44px;
  padding: 10px 14px;
  border-radius: 8px;
  border: var(--border-input);
}

.form-signup input::placeholder {
  color: var(--gray-n4);
  font-family: Inter;
  font-size: 1.6rem;
  font-weight: 400;
}

.form-signup input::placeholder,
.form-signup button {
  font-weight: 400;
}

.form-signup button {
  align-self: center;
  width: 160px;
  height: 33px;
  margin: 46px 0 15px 0;
  border: none;
  border-radius: 10px;
  font-size: 1.8rem;
  line-height: normal;
  color: var(--light-gray-bg-color);
  background-color: var(--pink-color);
}

.form-signup button,
.form-signup span {
  cursor: pointer;
}

.form-signup button:hover {
  background-color: var(--hover-button);
}

.form-signup p {
  line-height: 130%
}

.form-signup span {
  color: var(--pink-color);
  text-decoration: underline;
}