.client-card {
  width: 556px;
  background-color: white;
  box-shadow: 0 4px 4px 0 #acd9c540;
  border-radius: 30px;
  display: flex;
  flex-direction: column;
  flex-grow: 1;
}

.client-card .top {
  height: 58px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.client-card .top,
.client-card .table thead th,
.client-card .table tbody td {
  border-bottom: 1px solid #d0cece52;
}

.client-card .table tbody .no-content {
  border: none;
}

.client-card .top .top-left {
  display: flex;
  margin-left: 24px;
  gap: 8px;
}

.client-card .top h1 {
  color: var(--gray-n2);
}

.client-card .top h1,
.client-card .bottom h3 {
  font-size: 1.8rem;
}

.client-card .top h1,
.client-card .top .top-nmr h3 {
  font-family: 'Montserrat', sans-serif;
}

.client-card .top h1,
.client-card .top .top-nmr h3,
.client-card .table thead th {
  font-weight: 700;
}

.client-card .top .top-nmr {
  width: 52px;
  height: 20px;
  background-color: #a5f5f56d;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 8px;
  margin-right: 16.11px;
}

.client-card .top .top-nmr h3,
.client-card .table thead th {
  font-size: 1.6rem;
}

.content-clientscard-table {
  display: flex;
  flex-direction: column;
  height: 304px;
}

.client-card .table thead tr th {
  text-align: justify;
}

.client-card .table thead tr th:first-child,
.client-card .table tbody tr td:first-child {
  padding-left: 15px;
}

.client-card .table thead tr th:last-child,
.client-card .table tbody tr td:last-child {
  padding-left: 15px;
}

.client-card .table thead {
  height: 67.5px;
}

.client-card .table thead th {
  color: var(--gray-n2);
}

.client-card .table thead th,
.client-card .table tbody td,
.client-card .bottom h3 {
  font-family: 'Nunito', sans-serif;
}

.client-card .table tbody td {
  height: 56px;
  color: var(--gray-n5);
  font-size: 1.4rem;
  padding-right: 15px;
}

.client-card .table tbody td,
.client-card .bottom h3 {
  font-weight: 400;
}

.client-card .bottom {
  height: 48px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.client-card .bottom h3 {
  color: var(--pink-color);
  text-decoration-line: underline;
  display: inline-flex;
  flex-direction: column;
  align-items: flex-start;
  cursor: pointer;
}

@media (min-width: 500px) and (max-width: 1300px) {
  .client-card .top .top-left {
    margin-left: 23px;
    gap: 8px;
  }

  .client-card .top h1,
  .client-card .bottom h3 {
    font-size: 1.5rem;
  }

  .client-card .top .top-nmr {
    width: 40px;
    height: 20px;
    margin-right: 10px;
  }

  .client-card .top .top-nmr h3,
  .client-card .table thead th {
    font-size: 1.4rem;
  }

  .client-card .table tbody td {
    font-size: 1.2rem;
    line-height: 15px;
  }
}