.chargesCard {
  width: 305px;
  background-color: var(--white);
  box-shadow: 0 4px 4px 0 #acd9c540;
  border-radius: 30px;
  display: flex;
  flex-direction: column;
  flex-grow: 1;
}

.chargesCard .top {
  height: 58px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.chargesCard .top,
.chargesCard .table thead th,
.chargesCard .table tbody td {
  border-bottom: 1px solid #d0cece52;
}

.chargesCard .top h1 {
  font-size: 1.8rem;
  margin-left: 51px;
  color: var(--gray-n2);
}

.chargesCard .top h1,
.chargesCard .top .top-nmr h3 {
  font-family: 'Montserrat', sans-serif;
}

.chargesCard .top h1,
.chargesCard .top .top-nmr h3,
.chargesCard .table thead th {
  font-weight: 700;
}

.chargesCard .top .top-nmr {
  width: 50px;
  height: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 8px;
  margin-right: 16.11px;
}

.chargesCard .top .top-nmr h3,
.chargesCard .table thead th {
  font-size: 1.6rem;
}

.content-chargeCard-table {
  display: flex;
  flex-direction: column;
  height: 305px;
}

.chargesCard .table thead {
  text-align: justify;
  height: 67.5px;
}

.chargesCard .table thead th {
  color: var(--gray-n2);
  word-break: keep-all;
  letter-spacing: 0.08px;
}

.chargesCard .table thead th,
.chargesCard .table tbody td,
.chargesCard .bottom h3 {
  font-family: 'Nunito', sans-serif;
}

.chargesCard .table th,
.chargesCard .table td {
  text-align: justify;
  padding-left: 10px;
}

.chargesCard .table tbody td {
  color: var(--gray-n5);
  font-size: 1.4rem;
  letter-spacing: 0.07px;
}

.chargesCard .table tbody td,
.chargesCard .bottom h3 {
  font-weight: 400;
}

.chargesCard .table tbody .no-content {
  border: none;
}

.chargesCard .bottom {
  height: 48px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.chargesCard .bottom h3 {
  color: var(--pink-color);
  font-size: 1.8rem;
  text-decoration-line: underline;
  display: inline-flex;
  flex-direction: column;
  align-items: flex-start;
  cursor: pointer;
}

@media (min-width: 500px) and (max-width: 1300px) {
  .chargesCard .top h1 {
    margin-left: 23px;
  }

  .chargesCard .top h1,
  .chargesCard .bottom h3 {
    font-size: 1.5rem;
  }

  .chargesCard .top .top-nmr {
    width: 40px;
    height: 20px;
    margin-right: 10px;
  }

  .chargesCard .top .top-nmr h3,
  .chargesCard .table thead th {
    font-size: 1.4rem;
  }

  .chargesCard .table tbody td {
    font-size: 1.2rem;
    word-wrap: break-word;
    min-width: 80px;
  }
}