.NewChargeModal {
  display: flex;
  justify-content: center;
  align-items: center;
  width: calc(100vw - 108px);
  height: 100vh;
  position: fixed;
  left: 108px;
  background-color: #919a964d;
  backdrop-filter: blur(2px);
}

.NewChargeModal .dialog-inner-wrapper {
  display: flex;
  flex-direction: column;
  gap: 12px;
  font-weight: normal;
  line-height: 2.5rem;
  font-size: 1.6rem;
  font-family: 'Nunito';
  width: 450px;
  margin: auto;
  border-radius: 30px;
  padding: 15px 24px;
  background-color: var(--white);
}

.NewChargeModal .form-header {
  display: flex;
  flex-direction: column;
}

.NewChargeModal .title-div {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 16px;
}

.NewChargeModal .title {
  color: var(--gray-n2);
  font-family: 'Montserrat';
  font-size: 26px;
  font-style: normal;
  font-weight: 600;
  line-height: 130%;
}

.NewChargeModal .x-close-button {
  height: 15px;
  cursor: pointer;
}

.NewChargeModal .new-charge-form {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.NewChargeModal .new-charge-form input,
.NewChargeModal .new-charge-form textarea {
  outline: none;
  font-family: 'Nunito';
  font-size: 16px;
  border: var(--border-input);
  border-radius: 8px;
  padding: 10px 16px;
  width: 100%;
}

.NewChargeModal .new-charge-form input::placeholder,
.NewChargeModal .new-charge-form textarea::placeholder {
  color: var(--gray-n3);
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
}

.NewChargeModal .double-input-div {
  display: flex;
  gap: 24px;
}

.NewChargeModal .double-input-div .double-input-inner-div {
  width: 50%;
  position: relative;
  line-height: normal;
  display: flex;
  flex-direction: column;
  gap: 4px;
}

.NewChargeModal .double-input-div .double-input-inner-div input {
  height: 44px;
}

.NewChargeModal .radio-div {
  margin-bottom: 40px;
}

.NewChargeModal .radio-div .radio-inner-div {
  display: flex;
  align-items: center;
  gap: 16px;
  font-size: 16px;
  border-radius: 10px;
  background: var(--gray-container-steps);
  padding: 8px 12px;
  margin-bottom: 8px;
  cursor: pointer;
}


.NewChargeModal .radio-div .radio-icon-background {
  position: absolute;
  display: flex;
  border-radius: 50%;
  width: 24px;
  height: 24px;
  background-size: cover;
}

.NewChargeModal .radio-div .radio-checked-icon {
  margin: auto;
  width: 13px;
  height: 11px;
  z-index: 1;
}

.NewChargeModal .radio-div .radio-icon-background.checked {
  background-color: var(--green-steps);
}

.NewChargeModal .radio-div .radio-icon-background.unchecked {
  background-color: var(--gray-n6);
}

.NewChargeModal .radio-div label {
  cursor: pointer;
}

.NewChargeModal .radio-div input[type='radio'] {
  opacity: 0;
  z-index: 1;
  width: 24px;
  height: 24px;
  cursor: pointer;
}

.NewChargeModal .buttons-div {
  width: 100%;
  display: flex;
  gap: 10px;
  flex-grow: 1;
}

.NewChargeModal .buttons-div button {
  border: none;
  border-radius: 10px;
  width: 50%;
  height: fit-content;
  padding: 4px 0;
  border: 1px solid var(--next-step);
  color: var(--light-gray-bg-color);
  font-family: 'Nunito';
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  cursor: pointer;
  align-self: flex-end;

}

.NewChargeModal .buttons-div .cancel-button {
  color: var(--green-steps);
}

.NewChargeModal .buttons-div .submit-button {
  background: var(--pink-color);
}

.NewChargeModal .new-charge-form input.error {
  border: 1px solid var(--red-n2);
}

.NewChargeModal .new-charge-form textarea.error {
  border: 1px solid var(--red-n2);
}

.NewChargeModal .new-charge-form span.error {
  color: var(--red-n2);
  line-height: normal;
  letter-spacing: normal;
  font-size: 1.3rem;
}