.signin-container {
  display: flex;
}

.signin-container-aside {
  display: flex;
  justify-content: center;
  background-image: url(../../assets/unsplash_home_office.svg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  width: 500px;
  height: 100vh;
}

.signin-container-aside div {
  width: 398px;
}

.signin-container-aside h1,
.signin-form-title {
  font-family: 'Montserrat', sans-serif;
}

.signin-container-aside h1 {
  text-align: center;
  margin-top: 15vh;
  color: var(--dark-green-text-color);
}

.signin-container-main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: calc(100vw - 500px);
  background-color: var(--light-gray-bg-color);
}

.signin-form {
  display: flex;
  flex-direction: column;
}

.signin-form-title {
  font-size: 24px;
  font-weight: 700;
  line-height: 31px;
  letter-spacing: 0em;
  text-align: center;
  margin-bottom: 32px;
  color: var(--dark-gray-bg-color);
}

.signin-container-email,
.signin-container-password {
  display: flex;
  flex-direction: column;
  margin-bottom: 20px;
}

.signin-container-email label,
.signin-container-password label,
.signin-container-password a,
.signin-btn-submit,
.signin-form p,
.signin-form p span a {
  font-family: 'Nunito';
}

.signin-container-email label,
.signin-container-password label {
  margin-bottom: 6px;
  font-size: 14px;
  font-weight: 600;
  line-height: 20px;
  letter-spacing: 0em;
  text-align: left;
  color: #344054;
}

.signin-container-email input,
.signin-container-password input {
  width: 344px;
  height: 44px;
  padding: 10px 14px 10px 14px;
  border-radius: 8px;
  border: 1px solid #D0D5DD;
  gap: 8px;
  color: #667085;
}

.signin-container-password div {
  display: flex;
  justify-content: space-between;
}

.signin-container-password a {
  font-size: 14px;
  font-weight: 600;
  line-height: 18px;
  letter-spacing: 0em;
  text-align: left;
  color: var(--pink-color);
}

.signin-btn-submit {
  align-self: center;
  margin: 26px 0 15px 0;
  width: 160px;
  height: 33px;
  top: 6px;
  left: 97px;
  padding: 4px 40px 4px 40px;
  border-radius: 10px;
  border: none;
  gap: 4px;
  background-color: var(--pink-color);
  font-size: 18px;
  font-weight: 400;
  color: #F8F8F9;
  cursor: pointer;
}

.signin-form p {
  display: flex;
  justify-content: center;
  gap: 5px;
  font-size: 14px;
  font-weight: 600;
  line-height: 18px;
  letter-spacing: 0em;
  text-align: left;
  color: #3F3F55;
}

.signin-form p span a {
  font-size: 14px;
  font-weight: 600;
  line-height: 18px;
  letter-spacing: 0em;
  text-align: left;
  color: var(--pink-color);
}