.HomeComponent {
  display: flex;
  flex-direction: column;
}

.HomeComponent .cards-wrapper {
  padding: 0 80px;
  display: flex;
  justify-content: center;
  gap: 22px;
}

@media (min-width: 1024px) and (max-width: 1300px) {

  .HomeComponent .cards-wrapper {
    padding: 0 80px;
    justify-content: center;
    gap: 20px;
  }
}