.edit-modal-container {
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  top: 0;
  left: 108px;
  height: 100vh;
  width: 100vw;
  background-color: var(--modal-background-color);
  backdrop-filter: blur(2px);
  overflow-y: auto;
}

.edit-modal-form {
  width: 440px;
  display: flex;
  flex-direction: column;
  background-color: var(--white);
  padding: 15px 25px;
  border-radius: 30px;
  position: relative;
}

.edit-modal-header img[alt="Fechar modal"] {
  position: absolute;
  top: 20px;
  right: 24px;
}

.edit-modal-row {
  display: flex;
  gap: 10px;
  width: 100%;
}

.edit-modal-row-col {
  display: flex;
  flex-direction: column;
  width: 50%;
}

.edit-modal-row-col-asymmetric {
  width: 95%;
}

.edit-modal-row-col-asymmetric input {
  width: 100%;
}

.edit-modal-header h1 {
  font-family: 'Montserrat';
  font-size: 2.6rem;
  text-align: left;
  color: var(--gray-n2);
}

.edit-modal-header h1,
.edit-modal-form label {
  font-weight: 600;
}

.edit-modal-close {
  align-self: flex-start;
}

.edit-modal-close,
.edit-modal-btn-cancel,
.edit-modal-btn-confirm {
  cursor: pointer;

}

.edit-modal-form label {
  font-size: 1.4rem;
  margin-top: 5px;
  text-align: left;
  color: var(--gray-n2);
}

.edit-modal-form-input {
  font-size: 1.6rem;
  line-height: 20px;
  text-align: left;
  padding: 10px 14px 10px 14px;
  border-radius: 8px;
}

.edit-modal-form-input,
.edit-modal-btn-cancel {
  border: var(--border-input);
}

.edit-modal-form-input,
.edit-modal-error,
.edit-modal-btn-cancel,
.edit-modal-btn-confirm {
  font-weight: 400;
}

.smaller-input {
  width: 100%;
}

.edit-modal-error-border-input {
  border: 1px solid var(--red-n2);
}

.edit-modal-error {
  font-size: 1.2rem;
  text-align: left;
  color: var(--red-n2);
  margin-bottom: 5px;
}

.edit-modal-error,
.edit-modal-form label,
.edit-modal-form input,
.edit-modal-btn-cancel,
.edit-modal-btn-confirm {
  font-family: 'Nunito';
}

.edit-modal-row-btn {
  display: flex;
  margin-top: 15px;
  gap: 15px;
}

.edit-modal-btn-cancel,
.edit-modal-btn-confirm {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 33px;
  border-radius: 10px;
  font-size: 1.8rem;
}

.edit-modal-btn-cancel {
  color: var(--green-n1);
}

.edit-modal-btn-confirm {
  color: #F8F8F9;
  background-color: var(--pink-color);
  border: none;
}

.edit-modal-btn-cancel:hover {
  opacity: 0.8;
}

.edit-modal-btn-confirm:hover {
  background-color: var(--hover-button);
}