.succesRegistration-modal {
    width: 600px;
    height: 512px;
    background-color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 24px;
    border-radius: 30px;
    position: absolute;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.succesRegistration-modal img {
    width: 104px;
}

.succesRegistration-modal h1 {
    color: var(--cinzas-cinza-1, #343447);
    text-align: center;
    font-family: 'Montserrat', sans-serif;
    font-size: 2.4rem;
    font-weight: 700;
    line-height: 130%;
}