.Header {
  display: flex;
  height: 112px;
  margin: 0px 32px 19px 32px;
  padding: 0 105px 0 48px;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid var(--light-green);
}

.Header ul {
  list-style-type: none;
}

.Header .header-primary-title {
  margin-bottom: 24px;
  font-size: 2.6rem;
  line-height: 34px;
  text-align: center;
}

.titles {
  display: flex;
  align-items: center;
  align-self: flex-end;
  gap: 16px;
  margin-bottom: 4px;
}

.caption {
  display: flex;
  gap: 16px;
  color: var(--gray-n3);
}

.caption,
.Header .header-secondary-title {
  font-family: 'Inter';
  font-size: 1.6rem;
  font-weight: 400;
}

.Header .header-secondary-title {
  line-height: 2.4rem;
  color: var(--green-n1);
}

.Header .header-user-menu {
  display: flex;
  gap: 8px;
  color: var(--green-n1);
  height: fit-content;
  align-items: center;

  font-family: Nunito;
  font-size: 1.8rem;
  line-height: 25px;
  text-align: left;
}

.Header .header-user-menu .avatar {
  height: 48px;
  width: 48px;
  font-size: 2.2rem;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  border-radius: 50%;
  background-color: var(--grey-n8);
}

.Header .header-user-menu .user-name {
  max-width: 120px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.Header .header-user-menu .menu-button {
  position: relative;
  cursor: pointer;
}

.Header .header-user-menu .menu-button .menu-button {
  margin-top: 8px;
}

@media (min-width: 500px) and (max-width: 1200px) {
  .Header {
    margin: 0px 20px 19px 20px;
    padding: 0 20px 0 20px;
  }

  .Header .header-primary-title {
    font-size: 1.8rem;
    line-height: 22px;
  }

  .Header .header-user-menu {
    font-size: 1.5rem;
  }

  .Header .header-user-menu .avatar {
    height: 38px;
    width: 38px;
    font-size: 1.8rem;
  }
}