.Sidebar {
  display: flex;
  flex-direction: column;
  width: 108px;
  padding-top: 45px;
  gap: 72px;
}

.Sidebar a {
  all: unset;
  display: flex;
  flex-direction: column;
  align-items: center;
  cursor: pointer;
  height: 74px;
  width: 48px;
  margin: auto;
  padding: 0 27px;
  color: var(--dark-gray-bg-color);
  stroke: var(--dark-gray-bg-color);
}

.Sidebar a:hover {
  opacity: 0.8;
}

.Sidebar a.active {
  color: var(--pink-color);
  stroke: var(--pink-color);
  border-right: var(--pink-color) 3px solid;
}