.container-modal-delete {
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  left: 108px;
  height: 100vh;
  width: calc(100vw - 108px);
  background-color: rgba(145, 154, 150, 0.30);
  backdrop-filter: blur(2px);
}

.box-modal-delete {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 600px;
  height: 400px;
  border-radius: 30px;
  background-color: var(--white);
  position: relative;
}

.box-modal-delete img[alt="Fechar"] {
  position: absolute;
  top: 24px;
  right: 24px;
}

.box-modal-delete img[alt="Fechar"],
.box-modal-delete .answer-buttons button {
  cursor: pointer;
}

.box-modal-delete img[alt="cuidado"] {
  margin: 64px 0 13px 0;
}

.box-modal-delete h3 {
  color: var(--feedback-ateno-dark);
  font-family: 'Montserrat', sans-serif;
  font-size: 1.8rem;
  font-weight: 600;
  margin-bottom: 27px;
}

.box-modal-delete .answer-buttons {
  display: flex;
  gap: 16px;
}

.box-modal-delete .answer-buttons button {
  width: 100px;
  height: 24px;
  border: none;
  border-radius: 4px;
  font-family: 'Nunito', sans-serif;
  font-size: 1.8rem;
  font-weight: 400;
}

.answer-buttons .no-button {
  color: var(--red-n3);
  background-color: var(--soft-pink);
}

.answer-buttons .yes-button {
  color: var(--green-n2);
  background-color: var(--light-green);
}