.add-modal-container {
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  top: 0;
  height: 100%;
  width: 100%;
  background-color: var(--modal-background-color);
  /* background: url(../../assets/blur-modal.svg); */
  /* padding: 150px 0 100px; */
  overflow-y: auto;
}

.add-modal-form {
  display: flex;
  flex-direction: column;
  gap: 5px;
  background-color: var(--white);
  padding: 35px;
  border-radius: 30px;
}

.add-modal-header {
  display: flex;
  justify-content: space-between;
}

.add-modal-row {
  display: flex;
  gap: 10px;
}

.add-modal-row-col {
  display: flex;
  flex-direction: column;
}

.add-modal-header h1 {
  font-family: 'Montserrat';
  font-size: 26px;
  font-weight: 600;
  line-height: 34px;
  letter-spacing: 0em;
  text-align: left;
  color: var(--gray-n2);
}

.add-modal-close {
  align-self: flex-start;
  cursor: pointer;
}

.add-modal-form label {
  font-size: 14px;
  font-weight: 600;
  line-height: 20px;
  letter-spacing: 0em;
  text-align: left;
  color: var(--gray-n2);
}

.add-modal-form-input {
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0em;
  text-align: left;
  padding-left: 15px;
  padding: 10px 14px 10px 14px;
  border-radius: 8px;
  border: var(--border-input);
  gap: 8px;
}

.add-modal-error-border-input {
  border: 1px solid var(--red-n2);
}

.add-modal-error {
  font-family: 'Nunito';
  font-size: 12px;
  font-weight: 400;
  line-height: 16px;
  letter-spacing: 0px;
  text-align: left;
  color: var(--red-n2);
  margin-bottom: 5px;
}

.add-modal-form label,
.add-modal-form input {
  font-family: 'Nunito';
}

.add-modal-row-btn {
  display: flex;
  margin-top: 25px;
  gap: 15px;
}

.add-modal-btn-cancel,
.add-modal-btn-confirm {
  width: 100%;
  padding: 5px;
  border-radius: 10px;
  font-family: 'Nunito';
  font-size: 18px;
  font-weight: 400;
  line-height: 25px;
  letter-spacing: 0px;
  cursor: pointer;
}

.add-modal-btn-cancel {
  border: var(--border-input);
  color: var(--green-steps);
}

.add-modal-btn-confirm {
  color: #F8F8F9;
  background-color: var(--pink-color);
  border: none;
}

.add-modal-btn-cancel:hover {
  opacity: 0.8;
}

.add-modal-btn-confirm:hover {
  background-color: var(--hover-button);
}
