.clients-table tr {
  padding-left: 5px;
}

.clients-table tr,
.table-row-add-charge .add-charge-img {
  transition: all 0.2s;
}

.clients-table tbody tr,
.table-row-add-charge .add-charge-img {
  cursor: pointer;
}

.clients-table tbody tr td:first-child {
  padding-left: 8px;
}

.clients-table tbody tr:hover {
  background-color: var(--gray-n7);
}

.clients-table .client-status img,
.table-row-add-charge .add-charge-img {
  vertical-align: middle;
}

.td-name,
.td-email {
  max-width: 120px;
}


.table-row-add-charge .add-charge-img:hover {
  transform: scale(1.15);
}