.container-signup {
  display: flex;
  height: 100vh;
}

.container-steps {
  display: flex;
  width: 500px;
  height: 100%;
  padding: 178px 0 0 49px;
  background-color: var(--gray-container-steps);
}

.container-register {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: calc(100vw - 500px);
  height: 100%;
}