@import url("./animations/animations.css");

html {
  font-size: 62.5%;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-style: normal;
}

:root {
  min-height: 100vh;

  --dark-green-text-color: #204A2B;
  --green-text-color: #3F8751;
  --light-gray-bg-color: #F8F8F9;
  --dark-gray-bg-color: #343447;
  --pink-color: #DA0175;
  --soft-pink: #F2D6D0;
  --gray-container-steps: #F0F0F5;
  --green-steps: #0E8750;
  --hover-button: #b60362;
  --gray-n1: #344054;
  --gray-n2: #3F3F55;
  --gray-n3: #747488;
  --gray-n4: #667085;
  --gray-n5: #6E6E85;
  --gray-n6: #C8C8D7;
  --next-step: #DEDEE9;
  --blue-n1: #1fa8af;
  --red-n1: #971d1d;
  --red-n2: #E70000;
  --red-n3: #AE1100;
  --yellow-n1: #c5a505;
  --low-opacity-blue-n1: #1fa8af1c;
  --low-opacity-red-n1: #971d1d1c;
  --low-opacity-yellow-n1: #c5a5051c;
  --light-green: #ACD9C5;
  --modal-background-color: rgba(145, 154, 150, 0.3);
  --border-input: 1px solid #D0D5DD;
  --white: #ffffff;
  overflow-x: hidden;
}

body {
  font-size: 1.6rem;
}

.Toastify__toast-theme--colored.Toastify__toast--info,
.Toastify__toast-theme--colored.Toastify__toast--error,
.Toastify__toast-theme--colored.Toastify__toast--success {
  width: 33rem;
  border-radius: 1rem;
}

.Toastify__toast-theme--colored.Toastify__toast--info,
.Toastify__toast-theme--colored.Toastify__toast--error {
  background-color: var(--soft-pink) !important;
  color: var(--red-n3) !important;

}

.Toastify__close-button>svg {
  color: var(--red-n3);

}

.Toastify__toast-theme--colored.Toastify__toast--success {
  background-color: #C3D4FE !important;
  color: #243F80 !important;
}

.Toastify__toast-container {
  margin-right: 1rem;
}

::-webkit-scrollbar {
  width: 10px;
  height: 10px;
}

::-webkit-scrollbar-thumb {
  background-color: var(--pink-color);
  border-radius: 50px;
}

::-webkit-scrollbar-track {
  background-color: var(--light-gray-bg-color);

}